# Dependencies
node_modules/

# Production builds
build/
dist/

# Logs
*.log
npm-debug.log*

# Cache
.cache/

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
